# Ejemplo de variables para conexión PostgreSQL / Neon
# NO colocar contraseñas reales en este archivo.

DB_HOST=localhost
DB_PORT=5501
DB_NAME=dw_netflix
DB_USER=postgres
DB_PASSWORD=CAMBIAR_PASSWORD

# Para Neon, luego se reemplazará por los datos del proyecto compartido.
NEON_HOST=tu-host-neon
NEON_PORT=5432
NEON_DATABASE=dw_netflix
NEON_USER=tu_usuario
NEON_PASSWORD=CAMBIAR_PASSWORD
NEON_SSLMODE=require